name: Secretlint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  secretlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install dependencies
        run: pnpm install

      - name: Run secretlint
        run: pnpm secretlint
